@import url('http://fonts.cdnfonts.com/css/avenir-next-cyr');

.main-info {
    background-color: #e9eff4;
    background-image: url("../img/main.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 600px;
}

.main-info p {
    display: block;
}
.services{
    width: 100%;
    background-repeat: no-repeat;
    height: 450px;
}
.services1 {
    background-image: url("../img/Layer6.png");
}
.services2 {
    background-image: url("../img/Layer8copy.png");
}
.services3 {
    background-image: url("../img/Layer4copy.png");
}

.maxwidth-theme {
    max-width: 1200px;
    margin-left: auto!important;
    margin-right: auto!important;
    width: 100%;
}

.mainbox{
    margin-top: auto!important;
    margin-bottom: auto;

}
.height100{
    height: 100%;
}
.ceo-text-container{
    padding:20px;
}
.ceo-box{
    margin-top: 90px!important;
    margin-bottom: 42px!important;
}
.background-grey{
    background-color: #f5f9fc;
}
.background-white{
    background-color: white;
    margin-bottom: 125px;
}
.greyline{
    background-color: #e8edf0;
    height: 2px;
    margin-bottom: 30px;
    margin-top: 22px;
}
.mainbutton-margin{
    margin-top: 75px;
    margin-bottom: 125px;
}
.services-button {
    margin-top: 30px;
    align-items: center;
    display: flex;
}

.services-button > a{
    margin-right: 8px;
}

.advantages{
    width: 320px;;
    background-repeat: no-repeat;
    height: 320px;
    background-color: #e8edf0;
}

.advantages > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-80px);
}

.advantages > div > span {
    text-align: center;
}

.advantages1, .advantages2, .advantages3 {
    background-color: #5389c5;
    border-radius: 50px;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
}

.advantages1:after {
    background-position: center;
    position: absolute;
    z-index: 10;
    height: inherit;
    width: inherit;
    background-repeat: no-repeat;
    content: "";
    background-image: url("../img/VectorSmartObject.png");
}

.advantages2:after {
    background-position: center;
    position: absolute;
    z-index: 10;
    height: inherit;
    width: inherit;
    background-repeat: no-repeat;
    content: "";
    background-image: url("../img/hands.png");
}

.advantages3:after {
    background-position: center;
    position: absolute;
    z-index: 10;
    height: inherit;
    width: inherit;
    background-repeat: no-repeat;
    content: "";
    background-image: url("../img/man.png");
}

.work{
    width: 100%;
    background-repeat: no-repeat;
    height: 265px;
}
.work1{
    background-image: url("../img/work1.png");
}
.work2{
    background-image: url("../img/work2.png");
}
.work3{
    background-image: url("../img/work3.png");
}
.work4{
    background-image: url("../img/work4.png");
}
.certificate{
    width: 100%;
    background-repeat: no-repeat;
    height: 235px;
}
.certificate1{
    background-image: url("../img/Gramota.png");
}
.titles{
    text-transform: uppercase;
    margin-top: 90px!important;
}

.with-underline:after {
    content:"";
    display: inline-block;
    height: 2px;
    vertical-align: bottom;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid #e8edf0;
}

span {
    font-family: 'Avenir Next Cyr medium', sans-serif;
    font-size: 12pt;
}

.heading-1 {
    font-size: 30pt;
    font-family: 'Avenir Next Cyr medium', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.heading-2 {
    font-size: 20pt;
    font-family: 'Avenir Next Cyr medium', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
