.main-info {
    background-color: #e9eff4;
    background-image: url("../img/main.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 600px;
}

.main-info p {
    display: block;
}
.services{
    width: 100%;
    background-repeat: no-repeat;
    height: 450px;
}
.services1 {
    background-image: url("../img/Layer6.png");
}
.services2 {
    background-image: url("../img/Layer8copy.png");
}
.services3 {
    background-image: url("../img/Layer4copy.png");
}

.maxwidth-theme {
    max-width: 1200px;
    margin-left: auto!important;
    margin-right: auto!important;
    width: 100%;
}

.mainbox{
    margin-top: auto!important;
    margin-bottom: auto;

}
.height100{
    height: 100%;
}
.ceo-text{
    background-color: white;
}
.ceo-box{
    margin-top: 90px!important;
    margin-bottom: 42px!important;
}
.background-grey{
    background-color: #f5f9fc;
}
.background-white{
    background-color: white;
    margin-bottom: 125px;
}
.greyline{
    background-color: #e8edf0;
    height: 2px;
    margin-bottom: 30px;
    margin-top: 22px;
}
.mainbutton-margin{
    margin-top: 75px;
    margin-bottom: 125px;
}
.servicesbutton-margin{
    margin-top: 30px;
}
.advantages{
    width: 100%;
    background-repeat: no-repeat;
    height: 320px;
}
.advantages1{
    background-image: url("../img/nizniysloy.png");
}
.work{
    width: 100%;
    background-repeat: no-repeat;
    height: 265px;
}
.work1{
    background-image: url("../img/work1.png");
}
.work2{
    background-image: url("../img/work2.png");
}
.work3{
    background-image: url("../img/work3.png");
}
.work4{
    background-image: url("../img/work4.png");
}
.certificate{
    width: 100%;
    background-repeat: no-repeat;
    height: 235px;
}
.certificate1{
    background-image: url("../img/Gramota.png");
}
.titles{
    text-transform: uppercase;
    margin-top: 90px!important;
}

.with-underline:after {
    content:"";
    display: inline-block;
    height: 2px;
    vertical-align: bottom;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid #e8edf0;
}